.color1{
    background: red;
    width: 25%;
    min-height: 150px;
}

.color2{
    background: black;
    width: 25%;
    min-height: 150px;
}

.color3{
    background: green;
    width: 25%;
    min-height: 150px;
}

.color4{
    background: blue;
    width: 25%;
    min-height: 150px;
}

.container{
    width: 1170px;
    margin: 0 auto;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    align-content: stretch
    /* align-items: stretch; */
    /* justify-content: space-between; */
}